//Variable definitions
@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
$primary-font: 'Lato', Helvetica, sans-serif;
$secondary-font: 'Lora', serif;

$menu-size:1.125rem;
//Color definitions, lighter darker pairs are for button hover and press events
$primary-color: #2EAA2E;
$accent-color: #D43939;
$primary-lighter:#79D779;
$primary-darker:#047004;
$accent-lighter:#FF9090;
$accent-darker:#AC1D1D;
$dark-grey: #4a5767;
$light-grey: #E9E9E9;
$alt-light-grey:#DDDBD9;

$col-margin: 0.5%;
//Base site settings
html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  left:0;
  top:0;
  font-size: 100%;
  background-color: #fff;
}

* {
  font-family:$primary-font;
  color:#000;
  line-height:1;
  box-sizing: border-box;
}
// Typography
h1 {
  font-family: $secondary-font;
  font-size: 3rem;
}
h2 {
  font-family: $secondary-font;
  font-size: 2rem;
}
p {
  font-family: $primary-font;
  font-size: 1.125rem;
  line-height: 2;
}
.text-center {
  text-align: center;
}

//Mixins
@mixin clearfix(){
  content:"";
  display:table;
  clear:both;
}
@mixin block-center {
  // display: block;
  margin-left:auto;
  margin-right: auto;
}

//Grid Setup
.container {
  width:100%;
  height:100%;
  @include block-center;
  @include clearfix;
  background-color: $alt-light-grey;
  padding-top:0.625rem;
  // padding-bottom: 0.625rem;
}
.row {
  width:98%;
  max-width: 75em; //1200px
  @include block-center;
  padding-bottom:7.5rem;
  background-color: #fff;
}
.row:last-child {
  padding-bottom: 0.625rem;
}
.row::before, .row::after {
  @include clearfix;
}
.one-column, .two-column{
  width:95%;
  text-align: center;
  @include block-center;
}


//Navigation
.nav-bar {
  width:100%;
  margin-top: 1.25rem;
  padding-right:1rem;
  padding-left: 1rem;
  @include block-center;
  @include clearfix;
}
.menu {
  list-style: none;
  padding: 0;
  text-align: center;
  margin:0;
  li{
    padding:0.625rem;
    display: inline-block;
  }
  li:hover{
    background-color: #fff;
  }
  li:active {
    background-color: $light-grey;
  }
  a {
    color:#000;
    text-decoration: none;
    font-size:$menu-size;
  }
}
.logo {
  width:95%;
  margin:0.3125rem;
  display:block;
  @include block-center;
}

//General Styles
.full-height {
  height:80vh;
  background-image: url("../img/background 2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // padding-bottom: 9.375rem;
}
header, main, footer {
  box-shadow: 0px 6px 3px 1px $dark-grey;
}
.push-down {
  padding-top:4.6875rem;
}
.hero-content {
  text-align: center;
  margin-top: 20%;
  .hero-icon {
    // width:25%;
    width:5.4875rem;
  }
  .hero-title {
  }
}

.content-icon {
  width:2rem;
}
.content-title {}
.content-text {}
.content-socialbar {
  object {
    box-sizing:content-box;
    width:2rem;
    margin:0.625rem;
    padding:0.3125rem;
  }
  a {
    @include clearfix;
  }
  a:hover, object:hover {
    background: $alt-light-grey;
    border-radius: 50px;
  }
  a:active, object:active {
    background-color: $dark-grey;
  }
}
.work-card {
  background-color: $alt-light-grey;
}

.email-button {
  width:12rem;
  height:3rem;
	-moz-box-shadow: 0px 4px 2px -1px $dark-grey;
	-webkit-box-shadow: 0px 4px 2px -1px $dark-grey;
	box-shadow: 0px 4px 2px -1px $dark-grey;
	background-color:$accent-color;
	color:#fff;
	text-decoration:none;
  outline: none;
  border:none;
}
.email-button:hover {
	background-color:$accent-darker;
}
.email-button:active {
  box-shadow: none;
  // background-color:$accent-lighter;
}
.final-row {
  background-color: $dark-grey;
  p {
    font-family: $secondary-font;
    font-weight: 300;
    color:#fff;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    text-align: center;
    padding:0;
    margin:0;
  }
  a {
    text-decoration: none;
    color:#fff;
  }
  li {
    display:inline-block;
    padding:0.625rem;
    margin: 0.625rem;
  }
  li:hover {
    background-color: $alt-light-grey;
    a {
      color:#000;
    }
  }
  li:active {
    background-color: $accent-color;
  }
}
/* Media Queries */
@media only screen and (min-width: 33.75em) {
  /* 540px */
  .menu{
    margin:0.3125rem;
  }
}

@media only screen and (min-width: 48em) {
  /* 768px */
  //Grid Adjustments
  .one-column {
    width:75%;
  }

  .two-column {
    width:(1/2 * 100%)-(2 * $col-margin);
    margin-left: $col-margin;
    margin-right: $col-margin;
    float:left;
    padding:3rem;
    // padding-right: 3rem;
    // padding-bottom: 5rem;
  }
  .menu {
    float:right;
  }
  .logo {
    width: 25%;
    margin-left:1rem;
    float:left;
  }

}

@media only screen and (min-width: 60em){
  /* 960px */
}
