section
  p Hi there! 
  p I'm a web developer in training. My other fulltime hobby is completing a CompSci degree at the Queensland University of Technology. This blog is home to all the articles I write as I teach myself interesting things. In my spare time I write stories (you might see them on the blog), skate (inlines ftw), and practice taekwondo (gotta kick ass and stay fit).
  p I'm available for hire as well, if you need a reliable, hard working freelancer. Checkout the projects I've worked on, take a squiz at the blog, and reach out. We'll sit down and figure out the best way for you achieve your goals. 
  
  
