section(class="post-list")
  p I don't know if this is for you, but I have a weekly newsletter. You can sign up for it here:
  a(href="https://tinyletter.com/justintaylor" target="_blank" class="secondary-navigation__link" ) My fascinating newsletter - out now on the internet 

  h3 The archive.
- for(var i = public.posts._contents.length-1; i >= 0; i--){
  - var link = public.posts._contents[i].toString().replace('.html', '')
    h4= public.posts._data[public.posts._contents[i].toString().replace('.html', '')].title
    em= public.posts._data[public.posts._contents[i].toString().replace('.html', '')].date
    p= public.posts._data[public.posts._contents[i].toString().replace('.html', '')].description
    a(href="posts/#{link}" class="navigation__link overview__link") Read on.
    hr(class="overview__seperator")
- }
