section
  p I can be contacted through this here form. I'm always happy to hear from you, whether you've got a question, comment, or complaint.
  p I'm also available for hire. Reach out and we'll sit down and figure out how I can best help you achieve your goals.
  form(class="contact-form" action="https://docs.google.com/forms/d/e/1FAIpQLSeHf9gTGbkdbdCAY3Tr8ERr9onuqWxulrhDmgFkn7z8s6PbeQ/formResponse" method="POST" id="mG61Hd" target="hidden_iframe")
    label(for="contact__name" class="form__label") Name
    input(id="contact__name"  class="form__text-input" type="text" name="entry.2005620554" )
    label(for="contact__email" class="form__label") Email
    input(id="contact__email"  class="form__text-input" type="email" name="entry.1045781291" required="" )
    label( for="contact__message" class="form__label") Message
    textarea(textarea id="contact__message" class="form__text-area" name="entry.839337160")
    input(input type="submit" id="contact__submit" class="form__submit" value="Send the message")
