unless current.path[0] == "portfolio"
  hr(class="overview__seperator")
footer(class="footer")
    nav(class="secondary-navigation")
      a(href="https://www.github.com/sjustintaylor" target="_blank" class="secondary-navigation__link") Github
      a(href="https://www.twitter.com/darthbobcat" target="_blank" class="secondary-navigation__link") Twitter
