header
  h1(class="header-title") Justin Taylor
  //- h4(class="header-subtitle") Curious human
  nav(class="main-navigation")
    a(href="index.html" class="navigation__link") Home
    a(href="portfolio.html" class="navigation__link") Things I've built.
    a(href="blog.html" class="navigation__link") Stuff I've written.
    a(href="contact-me.html" class="navigation__link") Get in touch.
