.view {
  max-width: 60rem;
  width: 98%;
  margin: 2rem auto;
  background-color: $mid-grey;
  border: 1px solid $rich-black;
  border-radius: 10px;
  color: $rich-black;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  @media screen and (max-width: 60em) {
    width: 100%;
    margin: 0 auto;
    // max-height: 100vh;
  }
}

.view__content {
  box-sizing: content-box;
  background-color: $mid-grey;
  padding: 0 2rem;
  max-height: 40rem;
  overflow-y: scroll;
  @media screen and (max-height:45em) {
    max-height: 35rem;
  }
  @media screen and (max-width:60em) {
    overflow-y: scroll;
    max-height: auto;
    height: 100vh;
  }
}