{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><img src="/assets/icons/mail.png"
                class="social-icon" /></a>{%
endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><img
                src="/assets/icons/github.png" class="social-icon" /></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"
        target="_blank"><img src="/assets/icons/linkedin.png" class="social-icon" /></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml" target="_blank"><img
                src="/assets/icons/rss-feed.png" class="social-icon" /></a>{%
endif %}