<nav>
  <ul>
    {% if site.footer-links.email %}<li>
      <a href="mailto:{{ site.footer-links.email }}">say hi</a>
    </li>{% endif %} {% if
    site.footer-links.github %}<li>
      <a href="https://github.com/{{ site.footer-links.github }}" target="_blank">github</a>
    </li>{%
    endif %} {% if site.footer-links.linkedin %}<li>
      <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">linkedin</a>
    </li>{% endif %}
    <li><a href="/attributions" target="_blank">attributions</a></li>
  </ul>
  <p>
    Copyright &copy; {{ site.time | date: '%Y' }}
    <a href="/">Justin Taylor</a>
  </p>
</nav>
<div>
  <p>Let’s stay in touch - I send updates weekly (ish)</p>
  <input type="email" placeholder="bruce@wayne.enterprises.com" />
  <button>Sign up</button>
</div>