//
// VARIABLES
//

// Colors
$blue: #0466c8;
$yellow: #ffc300;
$red: #c1121f;

$quote: #d6ebff;

// Grays
$black: #031e26;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Moar grays
$seasalt: #f8f9faff;
$antiflash-white: #e9ecefff;
$platinum: #dee2e6ff;
$french-gray: #ced4daff;
$french-gray-2: #adb5bdff;
$slate-gray: #6c757dff;
$outer-space: #495057ff;
$onyx: #343a40ff;
$eerie-black: #212529ff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
