h3 Oh noes, you've taken a wrong turn 
p Don't fret, I'm sure the super awesome thing you want is around here somewhere. Why not head over to the blog and take a look.
a(href="./index.html" class="navigation__link overview__link") Let's get out of here
