doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ site_title }
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="alternate", type="application/rss+xml", title="#{ site_title } RSS", href="/rss.xml")
    //- link(href="https://fonts.googleapis.com/css?family=Lato|Slabo+13px" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato|Prata" rel="stylesheet")
  body
    main
      != partial("_partials/header")
      != yield
      != partial("_partials/comments")
      != partial("_partials/footer")
