@use "./variables";

footer {
  margin-top: var(--size-16);
  margin-bottom: var(--size-16);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;

  nav {
    max-width: 50%;
    margin-left: var(--size-16);
    font-size: var(--scale-00);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    p {
      padding: 0;
      margin: 0;
      margin-top: var(--size-4);
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-right: var(--size-3);
        a {
          font-family: "League Spartan", sans-serif;
        }
      }
    }
  }
  div {
    max-width: 75%;
    margin-top: var(--size-4);

    font-size: var(--scale-0);
    font-family: "League Spartan";
    color: variables.$grey-600;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    p {
      margin-top: 0;
    }
    small {
      margin-top: var(--size-2);
      color: variables.$grey-700;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: start;
    }
    input {
      width: 100%;
      margin-bottom: var(--size-4);
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: var(--size-px) solid variables.$grey-700;
      height: var(--size-6);
    }
    button {
      background-color: variables.$blue-200;
      color: variables.$black;
      border-radius: var(--radius-md);
      border: none;
      width: 100%;
      max-width: var(--size-32);
      padding: var(--size-2) var(--size-4);
      user-select: none;
      box-shadow: var(--shadow-sm);

      &:hover,
      &:focus {
        background-color: variables.$blue-400;
        color: variables.$grey-100;
      }
      &:active {
        background-color: variables.$blue-600;
        box-shadow: none;
        color: variables.$grey-100;
      }
    }
  }
}
