@use "./variables";
main,
header,
footer {
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}



a {
  font-family: "League Spartan", sans-serif;
  color: variables.$blue-600;
  &:visited {
    color: variables.$magenta-600;
  }
}
