@use "./variables";
main,
header,
footer {
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

main {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-left: var(--size-8);
    margin-right: var(--size-8);
  }
  p {
    margin-left: var(--size-16);
    margin-right: var(--size-16);
  }
}

a {
  color: variables.$blue-600;
  &:visited {
    color: variables.$magenta-600;
  }
}
