@use "./variables";

main {
  blockquote {
    border-left-color: variables.$blue-400;
    border-left-width: var(--size-1);
    border-left-style: solid;
    margin-top:var(--size-4);
    margin-bottom:var(--size-4);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-left: var(--size-8);
    margin-right: var(--size-8);
    margin-bottom: var(--size-4);
  }

  p,
  blockquote,
  ul,
  pre {
    margin-left: var(--size-16);
    margin-right: var(--size-16);
  }

  .post-list {
    list-style: none;
    padding: 0;

    margin-left: var(--size-8);
    margin-right: var(--size-8);

    li {
      padding: 0;
      margin-bottom: var(--size-8);

      &>span {
        color: variables.$grey-500;

        // margin-left: var(--size-4);
        // margin-right: var(--size-4);
      }

      &>a {
        color: variables.$blue-600;
        
      }

      &>div {

        margin-left: var(--size-8);
        margin-right: var(--size-8);
        margin-top: var(--size-2);
        color: variables.$grey-700;
      }

      &>h4 {
        font-family: "Libre Baskerville", serif;
        margin-bottom: var(--size-1);
        margin: 0;

      }
    }
  }
}