.headshot{
  display:flex;
  flex-direction: column;
  justify-content: center;
  &.headshot::before{
    @media only screen and (min-width: 600px){
      position:absolute;
      display:block;
      content:" ";
      height:200px;
      width:15px;
      border-radius: 0 5px 5px 0;
      background-color: $color-blue;
    }
  }
}
.headshot__image{
  width:100px;
  height:100px;
  display:block;
  padding:$scale-1;
  margin-left:25%;
}
.headshot__witty-quote{
  display:block;
  padding:$scale-1;
  width:50%;
  margin: 0 auto;
}
