// Colors
/* Coolors Exported Palette - coolors.co/092327-fbfbe1-2e86ab-f5f749-f24236 */
/* RGB */
$color-black: rgba(9, 35, 39, 1);
$color-white: rgba(251, 251, 225, 1);
$color-blue: rgba(46, 134, 171, 1);
$color-yellow: rgba(245, 247, 73, 1);
$color-red: rgba(242, 66, 54, 1);

/* Alternative: coolors.co/002642-840032-e59500-e5dada-02040f */
// $color-blue: rgba(0, 38, 66, 1);
// $color-red: rgba(132, 0, 50, 1);
// $color-yellow: rgba(229, 149, 0, 1);
// $color-white: rgba(229, 218, 218, 1);

// Sizing;
$line-width: 35rem;

$base-scale: 1.333;
$scale-0: 0.75rem; // small
$scale-1: 1rem; // paragraph
$scale-2: $scale-1*$base-scale; // h4
$scale-3: $scale-2*$base-scale; // h3
$scale-4: $scale-3*$base-scale; // h2
$scale-5: $scale-4*$base-scale; // h1
