<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  {% include meta.html %}

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{
    site.description }}</title>
  {% include stylesheets.html %}

  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png" />
  {% seo title=false %}
</head>

<body>
  <header>{% include header.html %}</header>
  <main>
    {{ content }}
  </main>
  <footer>{% include footer.html %}</footer>
</body>

</html>