---
layout: default
---


<hgroup class="post-header">
  <h4>{{ page.title }}</h4>
  <h6>Posted on {{ page.date | date: "%b %e, %Y" }}</h6>
</hgroup>
<div class="post-content">
  {{ content }}
</div>
{% include reply-by-email.html %}

<!-- Previous post/next post -->
{% if page.next or page.previous %}
<nav class="post-nav">
  {% if page.previous %}
  <div class="post-previous">
    <small>Previous</small>
    <a href="{{ page.previous | relative_url }}">
      <span>{{ page.previous.title }}</span>
    </a>
  </div>
  {% endif %}
  {% if page.next %}
  <div class="post-next">
    <small>Next</small>
    <a href="{{ page.next | relative_url }}">
      <span>{{ page.next.title }}</span>
    </a>
  </div>
  {% endif %}
</nav>
{% endif %}