/* Colors */
$red: #ff5749;
$green: #4dc789;
$blue: #70B2FF;
$white: #fff;
$light-grey: #F2F2F2;
$grey: #e9e8e4;
$mid-grey: #cdcdcd;
$rich-black: #333;
/* Dot Buttons*/
$dot-btn--green: #27AE60;
$dot-btn--yellow: #F2C94C;
$dot-btn--red: #EB5757;